<%# app/views/posts/_post.html.erb %>

<h2><%= post.title %></h2>
<p><i>By <%= post.author %> 
  on <%= friendly_date post.created_at %></i></p>
<p><%= post.body %></p>
<p>
  <%= link_to 'Show', post %> |
  <%= link_to 'Edit', edit_post_path(post) %> |
  <%= link_to 'Destroy', post, 
    :confirm => 'Are you sure?', :method => :delete %>
</p>

